.calculatorWrapper{
    margin: 30px 0px;
}
.calculatorSubWrapper{
    background: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    font-size: 20px;
    border:none;
    text-align: center;
    width: 15%;
    font-family: Nekst;
    font-weight: 900;
}
.calculatorSubWrapper>input{
    font-size: 20px;
    border:none;
    text-align: center;
    width: 100%;
    background: transparent;
    font-family: Nekst;
    font-weight: 900;
}

.calculatorWrapper>h2{
    font-family: Nekst;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
}

.calculatorFields{
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}

.calculatorResults{
    margin-top: 50px;
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.calcLabel{
    color: #575757;
    font-family: Gilroy;
    line-height: 90%;
    font-size: 16px;
}
.calcResult{
    font-family: Nekst;
    font-weight: 900;
    font-size: 54px;
    margin: 0;
    line-height: 90%;
    color: #575757;
}

@media screen and (max-width: 1024px) {
    .calculatorFields{
        grid-template-columns: 1fr;
    }
    .calculatorResults{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px) {
    .calcResult{
        font-family: Nekst;
        font-weight: 900;
        font-size: 37px;
        margin: 0;
        line-height: 90%;
        color: #575757;
    }
    .calculatorResults{
        grid-template-columns: repeat(1,1fr);
    }
    .calculatorWrapper>h2{
        font-family: Nekst;
        font-weight: 900;
        font-size: 34px;
        line-height: 90%;
    }

}

@media screen and (max-width: 320px) {

    .calculatorWrapper{
        padding: 1rem;
    }
    .calculatorWrapper>h2{
        font-size: 30px;
    }

    .calculatorWrapper{
        font-size: 15px;
    }

    .calculatorSubWrapper>input{
        font-size: 15px;
    }

    .calculatorFields{
        grid-template-columns: 1fr;
    }
    .calculatorResults{
        grid-template-columns: 1fr;
    }
}