.calculatorWrapper{
    margin: 30px 0px;
}

.calculatorWrapper>h2{
    font-family: Nekst;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
}

.calculatorFields{
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
}