.inputContainer{
    width: 100%;
}
.inputContainerLabel{
    color: #575757;
    font-family: Gilroy;
    margin-bottom: 20px;
    font-size: 16px;
}

.inputWrapper{
    width: 100%;
    height: 68px;
    border-radius: 16px;
    background: #F3F3F4;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nekst;
    font-weight: 900;
    font-size: 30px;
    padding: 0% 2%;
}
.textInput{
    width: 100%;
    background: transparent;
    font-family: Nekst;
    font-weight: 900;
    font-size: 30px;
    border:none;
}
.rangeInput{
    position: absolute;
    left: 0px;
    bottom: -5px;
    margin-left: 2%;
    width: 96%;
}